
#Maven#
target/


#mac osx
.DS_Store

#log file
*.log


#intellij
out/
*.iml
.idea

#eclipse
.settings
.classpath
.project
.externalToolBuilders
bin/

#netbeans
nb-configuration.xml
glassfish-web.xml

#netbeans
nb-configuration.xml
glassfish-web.xml

# angularjs
node_modules
rev
bower_components
_css
dist


.tmp
.sass-cache
__ConfigTemp
logs/

# misc
Thumbs.db


# Created by https://www.gitignore.io/api/microsoftoffice

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*


# End of https://www.gitignore.io/api/microsoftoffice
